.app {
  display: flex;
  height: 100vh;

  .main {
    width: 75vw;
    display: flex;
    flex-direction: column;
  }

  .sidebar-section {
    width: 25vw;
    border: 2px solid gray;
  }

  .chat-section {
    height: 75%;
    border: 2px solid gray;
  }

  .new-message-section {
    height: 25%;
    border: 2px solid gray;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
